.home {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 100%;
    background-color: aliceblue ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    height: 100%;
  }
  
  .home h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #0056b3;
  }