.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.home{
  background-color: rgb(75, 142, 200);
}
.quiz{
  background-color: rgb(142, 142, 0);
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

.selected {
  background-color: #ffc107;
}

h1, h2, p {
  color: #333;
}

.heading{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 35px;
  background-color: #e6dbad;
  margin: 0px;
}

body{
  background-color: lightblue;
}